POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=your_db_name_here

# Dùng http://localhost:3000 khi dev local. Khi deploy production thì đổi thành domain thật của API (ví dụ: https://api.yourdomain.com)
VITE_API_URL=http://localhost:3000
